<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>;
        <meta name="viewport" content="width=divice-width,initial-scale=1.0"/>
        <title>
            My-to-Do-Application
        </title>
        <script src="https://cdn.tailwindcss.com/"></script>
        <link href="/css/styles.css" rel="stylesheet">
    </head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <form>
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text"  placeholder="what's next?"  class="border border-grey-300 rounded text-grey-900 w-full p-2 text-sm"required />
                    </div>
                    <div class="flex-auto">
                        <input type="date" class="border border-grey-300 rounded text-grey-900 w-full p-2 text-sm" />
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white py-1.5 px-5 rounded font-midium mr-2 mb-2">Add</button>
                    </div>
                </div>
            </form>
            <div>
               <%- include('todos.ejs') %>
            <% const currentDate=new Date().toISOString().slice(0, 10); %>
            <% const overdueTodos=alltodos.filter(todo=> todo.dueDate < currentDate); %>
            <h5>Overdue <label id="count-overdue" class="w-4 h-4 p-2 text-blue-600 bg-grey-100 rounded border">
                    <%= overdueTodos.length %>
                </label></h5>
            <% const duetodayTodos=alltodos.filter(todo=> todo.dueDate === currentDate); %>
                    <h5>Due Today <label id="count-due-today" class="w-4 h-4 p-2 text-blue-600 bg-grey-100 rounded border">
                            <%= duetodayTodos.length %>
                        </label></h5>
            <% const duelaterTodos=alltodos.filter(todo=> todo.dueDate > currentDate); %>
                    <h5>Due Later <label id="count-overdue" class="w-4 h-4 p-2 text-blue-600 bg-grey-100 rounded border">
                            <%= duelaterTodos.length %>
                        </label></h5>
            </div>
        </div>
    </div>
   
</body>
</html>